.friend {
  padding-top: 80px;
}
.friend__header,
.friend__birthday,
.friend__recommend,
.friend__favorite,
.friend__channel,
.friend__list {
  border-bottom: 2px solid #fcfcfc;
  padding: 20px 0px;
}

.friend__birthday-title,
.friend__favorite-title,
.friend__recommend-title,
.friend__channel-title,
.friend__list-title {
  margin-bottom: 10px;
  font-size: 13px;
  opacity: 0.5;
}
.friend__birthday-content {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends__name {
  display: block;
}
.friends__status {
  margin-top: 15px;
}
.friends .friends__column,
.birthday .birthday__column,
.favorites .favorites__column,
.recommended .recommended__column,
.channels .channels__column,
.lists .lists__column {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.friends__content .friends__name {
}

.friends .friend-avatar,
.birthday .friend-avatar,
.lists .friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
.birthday .friend-icon,
.recommended .friend-icon,
.channels .channel-icon {
  font-size: 40px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 10px;
}
.birthday .cake-icon {
  color: #cf1b27;
}
.friend-icon.smile-icon {
  color: violet;
}

.channels .channel-icon {
  color: #ffff00;
}

.birthday .birthday__name {
  margin-right: 10px;
  font-size: 15px;
}

.birthday .friend__birthday-giftshop {
  font-size: 15px;
  border: 2px solid #f783ac;
  padding: 5px 20px;
  border-radius: 25px;
}

.birthday .gift {
  color: #f783ac;
}

.friend__favorite .favorites__img-container {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.favorites__img-container .favorites__avatar {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}
