.header__wrapper {
  padding: 0px 20px;
  width: 100%;
  position: fixed;
  background-color: #efefef;
  z-index: 1;
}

.header {
  padding: 10px 20px;
}

.header__chat {
  padding-top: 20px;
  padding: 10px 20px;
  background-color: #e6f3ff;
}
.header__chat .chat-title {
  margin-left: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container .header__container-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__container-column .header__container-column-title {
  font-size: 25px;
}

.header__container-column i {
  padding: 0px 15px;
  font-size: 20px;
}
