.navbar {
  position: fixed;
  bottom: 0px;

  width: 100%;
}
.navbar .navbar__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  font-size: 10px;
  background-image: linear-gradient(to right, #c9ffbf, #ffafbd);
}
.navbar .comments {
  position: relative;
}
.comments .comments-icon {
  width: 25px;
  height: 18px;
  background-color: red;
  color: white;
  border-radius: 15px;
  font-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 11px;
  top: -9px;
}
