.statusbar {
  background-image: linear-gradient(to right, #c9ffbf, #ffafbd);
  padding: 5px 10px;
  font-size: 13px;
}
.statusbar__chat {
  background-image: linear-gradient(to right, #c9ffbf, #ffafbd);
  padding: 10px 20px;
}
.statusbar__container {
  display: flex;
  justify-content: space-between;
}

.statusbar .statusbar__container-column {
}
