.statusbar {
  background-color: #efefef;
  padding: 10px 20px;
}
.statusbar__chat {
  background-color: #cce6ff;
  padding: 10px 20px;
}
.statusbar__container {
  display: flex;
  justify-content: space-between;
}

.statusbar .statusbar__container-column {
}
